<div style="text-align:center">
  <h1>
    Welcome to {{title}}
  </h1>
</div>

<div>
  <label>Enter a US zip code </label><input type="string" [(ngModel)]="zip" required>
  <button (click)="getWeather()">Select</button>
</div>

<div>
  <p>{{loc.name}}</p>
  <p>Zip code: {{loc.zip}}</p>
  <p>Current Weather{{loc.current}}</p>
  <p>Is cached result: {{loc.cached}}</p>
  <button (click)="getRestList()">Get Restaurants</button>
  <div *ngIf="loc.showList">
    <li *ngFor="let restaurant of loc.restList">
      {{restaurant}}
    </li>
  </div>
</div>
